@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic);
html, body, div, span, img, ol, ul, li, form, tr, td {margin:0;padding:0;}
html, body {margin:0;padding:0;color:#555;background:rgb(60,60,60) url(background.png);}
.header_wrap {height:90px;min-width:940px;}
.header_wrap nav {width:940px;position:relative;height:90px;margin:0 auto;}
.header_wrap nav .title {cursor:default;color:rgb(110,110,110);line-height: 64px; font-size:1em;}
.header_wrap nav .title #hover-color {color:white;font-size:1.3em;}
.header_wrap .menu {list-style:none;position:absolute;left:0px;bottom:0px;font-size:.8em;}
.header_wrap .menu li {float:left;margin:0px;}
.header_wrap .menu li a {color:#f7f7f7;display:inline-block;text-transform:uppercase;text-decoration:none;
	background-color:#000;padding:7px 13px;margin-right:2px;border-bottom:0px solid #000; font-family:Arial,Helvetica,sans-serif;}
.header_wrap .menu li.current_item a,
.header_wrap .menu li a:hover {background-color:#f7f7f7;color:#000;border-bottom:0px dashed #e0e0e0;}
.content_wrap {min-width:980px;min-height:580px;background-color:#f7f7f7;}
.content_container {width:940px;margin:0 auto;padding:20px;}
.footer_container {width:940px;min-width:940px;margin:0 auto;padding:20px 0 30px 0;position: relative;font-size: .8em; min-height: 50px;}
.footer_container .coppyr {position:absolute;right:0;bottom:0;}
.footer_container .admin_desk {position:absolute;right:0;}
a, a:visited {text-decoration:none; color:#08C;}
a:hover {text-decoration:underline;color:005580;}
.entry-content {text-align:justify;}
.entry-content img {margin:10px;}
.entry-content img:not([alt*="noborder"]) {border-radius:0.3em;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;border:#fff 0.4em solid;}
.entry-content img[alt*="center"] {margin:0 auto;display:block;}
.entry-content img[alt*="left"] {float:left;margin-left:0px;display:block;}
.entry-content img[alt*="right"] {float:right;margin-right:0px;margin-top:0px;display:block;}
.entry-content img[alt*="noborder"] {border:0px dotted transparent;}
.entry-content li { margin-left:20px;}
.entry-footer {padding:4px; margin:10px 0;font-size:0.8em; background-color:rgb(226,226,226);}
a[rel="full-article"] {background:#e2e2e2;display:inline-block;text-decoration:none;color:#666;padding:0.3em 0.6em;
	-webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s; transition: background-color 0.2s;float:right;margin:-4px;}
a[rel="full-article"]:hover {background:#0181eb;text-shadow:none;color:#fff;}
.entry-title {margin:0 5px 7px 0;color:rgb(49,49,49);}
.listblog .entry-title a {color:rgb(49,49,49);}
.listblog .entry-title h2 {font-weight:200;}
.listblog .entry-title a:hover {text-decoration:none;}
.instagram_photo:hover {text-decoration:none;}
.instagram_photo img {border-radius:0.3em;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;border:#fff 0.4em solid;margin-left:5px;margin-bottom:5px;}
.embed-video-container iframe {width:850px;height:480px;}
.embed-video-container iframe {border-radius:0.3em;box-shadow:rgba(0,0,0,0.15) 0px 1px 4px; border:#fff 0.4em solid;}
ol.links {margin-left:20px;list-style-type: lower-greek;}
h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility; color:rgb(49,49,49); font-family: 'Philosopher', sans-serif; margin:0;}
#vkshare0, .fb-like { display:inline-block;}
#tweets .loading{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMjgwMTE3NDA3MjA2ODExQTQxQUNFN0NCOEMyNEMzNiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowQkYxMEI5QjQ5QzYxMUUwQTJGN0YyQzFDMzFCQjZCMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowQkYxMEI5QTQ5QzYxMUUwQTJGN0YyQzFDMzFCQjZCMyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkIxREYyRDc2MTIyMDY4MTFBNDFBQ0U3Q0I4QzI0QzM2IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAyODAxMTc0MDcyMDY4MTFBNDFBQ0U3Q0I4QzI0QzM2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+bAX+SwAAAZBJREFUeNrsl+1tgzAQhgF1AHeCphPU3QA2SDcIEzRMUDpB0wlCJ8gIcf+DQicoG5QNqC29SJZl/EHc8oeTTkTCvnvse3048TAM0ZKWRAvbCnDTNE3omBvulHvPnVkBAic/ct/hd4fn/X+VQE4+AjzN0UDK/Zv7njtxTL5Tko9xLgAjPgA96vjG/QcBqCE5wVgT3HkKQgfQcq+UABcESTXjXXaKYr6zBnIFYtzSswbk2bFMVFOmSYBSN1gBGetOPIT64noMmW6wRvX9jB6xlXT2YALIkSSyCNDXTpLYM1MfEBooZqzSxVoskCQOx4v8AQDF7m5MAD0oQ5uImXG/Fbtsa8UVenkRKHmHmMznW9AFLMPH3I8RCyBGsZCDDmDvCJBBvdfUvtcBtOj1W0PzKNH96BXJ2dSFRLx4x7E4AuiT+x0S0gCqr2w3ogqJT+j1aSDF57ZrWaJ0p0edUDxN1PkVsax3wkQzucDZP3gqv5Xmlq5z47quXdpmKmlChv3CVjPpEupl8frXbAVYGuBXgAEAuftfzMLpDZgAAAAASUVORK5CYII=') no-repeat center 0.5em;color:#d1d1d1;text-shadow:#fff 0 1px;text-align:center;padding:2.5em 0 .5em}
#tweets .loading.error{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACLklEQVRYhe2WwY2bQBSG/4f3aEtsB+4gG8kzkk+BDuIKbFcQU0GyFXhdgekgJeAbEiCFErwdIMHN1vw5BK8cAws2K+3F/wm9eTP/x7w3owHuuuuTJbdODMNwPBgMHBEZi8gXkvbZcArgleROa51+GEAQBPZwOFwAmIvIU8dpGUn/eDxuptPp/iaA0nglIj8A2K0TGkTypSiKZ9d1s84AcRw7IrIFML7V+EJ7Y8zsVJp3AaIoWliWte3jRjIVkZTkK4Bvp9IZYzyttd8I0NM8I7k5Ho9+Xd2TJPlO8icArxag3PbgFmeSKcllW/eXPqsKQBAE9mg0+oN+Nc9IzpRSu7ZE6zIwHA5XPc2BfyfF6ZJYARCReU/zk7IwDMdtSW8liOPYITnu2/WXMsYstdZ+I0DZ7Wv0uGDalOf54/nlcy5LRPYAliRbu/YGZSS9JnMAsEhmALZX3O3XyBaRdRRFi0YAEZkbYzySLoDZDSaNf/dmYlnbOI6durEHpZR3HkiSZI8rjqExxjuZtKQ6AHYVuJoFn7uaA8i01r7W2ifpkqwYlPKVUr/qBioA5WKdGpLk5vStlNoppdwGkEWSJLU7VAEAgKIo3A4QWVEUL5fBE4gx5isA/xwiiqJKo9cCuK6bFUXhXizwn4wx7x4vrXU6mUyWeZ4/kvQA7EWkcte0PkiiKHoSkbWIOGdhfzKZLNvmdtFDW4JlWb8vQh9mDnR8E5bvA/twOKR1D4y77uqjv2QXCIW9OIVeAAAAAElFTkSuQmCC') no-repeat center 0.5em}
#tweets {font-size: .8em;list-style-type: disc;}
#tweets p {margin:0;padding:0;}
#tweets li {list-style: none;padding:0.4em; margin:0;border-bottom: 1px solid #ededed;}
#tweets p{position:relative;padding-right:1em}
#tweets a[href*=status]:first-child{color:#a7a7a7;float:right;padding:0 0 .1em 1em;position:relative;right:-1.3em;text-shadow:#fff 0 1px;font-size:.7em;text-decoration:none}
#tweets a[href*=status]:first-child span{font-size:1.5em}
#tweets a[href*=status]:first-child:hover{color:#0181eb;text-decoration:none}
#tweets a[href*='twitter.com/search']{text-decoration:none;color:#818181;}
#tweets a[href*='twitter.com/search']:hover{text-decoration:underline;color:#0181eb;}
.main-right {width:300px; float:right; display:inline-block;}
.main-left {display:inline-block; max-width:600px;}
p {margin:5px 0;text-align:justify;}
li {margin:7px 0 7px 17px;}
p.instagram{text-align:left;}