@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic);
html, body, div, span, img, ol, ul, li, form, tr, td {margin:0;padding:0;vertical-align: baseline}
html, body {margin:0;padding:0;color:#555;background:rgb(60,60,60) url(background.png);}
.header_wrap {height:90px;min-width:940px;}
.header_wrap nav {width:940px;position:relative;height:90px;margin:0 auto;}
.header_wrap nav .title {cursor:default;color:rgb(110,110,110);line-height: 64px; font-size:1em; padding-left:20px;}
.header_wrap nav .title #hover-color {color:white;font-size:1.3em;}
.header_wrap .menu {list-style:none;position:absolute;left:0px;bottom:0px;font-size:.8em;}
.header_wrap .menu li {float:left;}
.header_wrap .menu li a {color:#f7f7f7;display:inline-block;text-transform:uppercase;text-decoration:none;
	background-color:#000;padding:7px 13px;margin-right:2px;border-bottom:0px solid #000;}
.header_wrap .menu li.current_item a,
.header_wrap .menu li a:hover {background-color:#f7f7f7;color:#000;border-bottom:0px dashed #e0e0e0;}
.content_wrap {min-width:980px;min-height:500px;background-color:#f7f7f7;}
.content_container {width:940px;margin:0 auto;padding:20px;}
.footer_container {width:940px;min-width:940px;margin:0 auto;padding:20px 0 30px 0;position: relative;font-size: .8em; min-height: 50px;}
.footer_container .coppyr {position:absolute;right:0;bottom:0;}
.footer_container .admin_desk {position:absolute;right:0;}
a, a:visited {text-decoration:none; color:#08C;}
a:hover {text-decoration:underline;color:005580;}
.entry-content {text-align:justify;}
.entry-content img {margin:10px;}
.entry-content img:not([alt*="noborder"]) {border-radius:0.3em;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;border:#fff 0.4em solid;}
.entry-content img[alt*="center"] {margin:0 auto;display:block;}
.entry-content img[alt*="left"] {float:left;margin-left:0px;display:block;}
.entry-content img[alt*="right"] {float:right;margin-right:0px;margin-top:0px;display:block;}
.entry-content img[alt*="noborder"] {border:0px dotted transparent;}
.entry-content li { margin-left:20px;}
.entry-footer {padding:4px; margin:10px 0;font-size:0.8em; background-color:rgb(226,226,226);}
a[rel="full-article"] {background:#e2e2e2;display:inline-block;text-decoration:none;color:#666;padding:0.3em 0.6em;
	-webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s; transition: background-color 0.2s;float:right;margin:-4px;}
a[rel="full-article"]:hover {background:#0181eb;text-shadow:none;color:#fff;}
.entry-title {margin:0 5px 7px 0;color:rgb(49,49,49);}
.listblog .entry-title a {color:rgb(49,49,49);}
.listblog .entry-title h2 {font-weight:200;}
.listblog .entry-title a:hover {text-decoration:none;}
.instagram_photo:hover {text-decoration:none;}
.instagram_photo img {border-radius:0.3em;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;border:#fff 0.4em solid;margin-left:5px;margin-bottom:5px;}
.embed-video-container iframe {width:850px;height:480px;}
.embed-video-container iframe {border-radius:0.3em;box-shadow:rgba(0,0,0,0.15) 0px 1px 4px; border:#fff 0.4em solid;}
ol.links {margin-left:20px;list-style-type: lower-greek;}
h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility; color:rgb(49,49,49); font-family: 'Philosopher', sans-serif; margin:0;}
