{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}The VitalVas{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap-2.3.2.min.css' %}">
	<!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if item.description %}<meta name="description" content="{{ item.description }}">{% endif %}
    <meta name="google-site-verification" content="-Lx45KkppBRqs2gwjuFY7Qt5GyEgh1URGJCNWAuLT54" />
    <link rel="author" href="https://plus.google.com/106762089406071404447" />
    {% block head %}{% endblock %}
</head>
<body>
	<header>
        <div class="container header">
            <ul class="nav nav-pills pull-left">
                <li><a class="brand" href="{% url 'home' %}">The VitalVas &beta;</a></li>
                <li{% if 'blog/' in request %} class="active"{% endif %}><a href="{% url 'blog' %}">Бложек</a></li>
                <li{% if '/about/' in request %} class="active"{% endif %}><a href="{% url 'page' 'about' %}">Об авторе</a></li>
            </ul>
            <ul class="nav pull-right socialicon">
                <li><a href="https://www.facebook.com/VitalVas" class="facebook" target="_blank"></a></li>
                <li><a href="https://twitter.com/vitalvas" class="twitter" target="_blank"></a></li>
                <li><a href="https://plus.google.com/106762089406071404447" class="googleplus" target="_blank"></a></li>
                <li><a href="http://www.linkedin.com/in/vitalvas" class="linkedin" target="_blank"></a></li>
                <li><a href="https://github.com/vitalvas" class="github" target="_blank"></a></li>
            </ul>
        </div>
    </header>

    <div class="container">
    {% block data %}
		<div class="row-fluid">
			<div class="span6">
				<h3>
					<a href="{% url 'blog' %}">Блог</a>
                    <a href="{% url 'feed' %}">
                        <img src="{% static 'img/rss.png' %}" alt="RSS">
                    </a>
				</h3>
                <ul>
                    {% for i in items %}
                        <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>
                    {% endfor %}
                </ul>
			</div>
			<div class="span6">
				<h4>
					<a href="http://instagram.com/vitalvas" target="_blank">ИнстаГрамм</a>
				</h4>
				<div id="instagram"></div>
			</div>
		</div>
    {% endblock %}
	</div>
	<footer class="container">
		2009 - {% now "Y" %} Виталий Василенко &copy; Скопировано правильно
	</footer>
</body>
{% include '_analytic.html' %}
<script defer src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script defer src="{% static 'js/instagram.js' %}"></script>
<script defer src="{% static 'js/app.js' %}"></script>
</html>