<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{%block title_page%}VitalVas здесь был{%endblock%}</title>
		<meta name="author" content="VitalVas">
		<meta name="description" content="{% block description_page %}Руководитель департамента приема в AD. Сектор наземного тестирования{% endblock %}">
		<meta name="keywords" meta="VitalVas, vitalvas, блог, blog, vvitalvas, персональный сайт, gangnam style, линкблог, линк python, django, mysql, mongodb">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name='yandex-verification' content='6db1d47f021fa63f' />
		<meta name="google-site-verification" content="-Lx45KkppBRqs2gwjuFY7Qt5GyEgh1URGJCNWAuLT54" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link href="http://www.vitalvas.com/feed" rel="alternate" title="VitalVas здесь был" type="application/atom+xml">
		<link rel="stylesheet" href="/static/style.css" type="text/css">
		<!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
		<script type="text/javascript" src="//yandex.st/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/colors.js"></script>
		{% block head_page %}{% endblock %}
	</head>
	<body>
		<div class="header_wrap">
			<nav>
				<div class="title">
					<span title="есть и будет" onmouseover="AlterColor()"><span id="hover-color">VitalVas</span> здесь был</span>
				</div>
				<ul class="menu">
					<li{% if type == 'index' %} class="current_item"{% endif %}><a href="/">Главная</a></li>
					<li{% if type == 'blog' %} class="current_item"{% endif %}><a href="/blog/">Бложек</a></li>
				</ul>
			</nav>
		</div>
		<div class="content_wrap">
			<div class="content_container">
				{% block main_content %}{% endblock %}
			</div>
		</div>
		<div class="footer_wrap">
			<div class="footer_container">
				<script type="text/javascript">
				new Image().src = "//counter.yadro.ru/hit?r" + escape(document.referrer)+((typeof(screen)=="undefined")?"":
				";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth? screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
				";"+Math.random();
				</script>
				<script type="text/javascript">
					var _gaq=[["_setAccount","UA-28006057-1"],{% if is_admin %}['_setCustomVar', 1, 'admin', 'yes', 2],{% endif %}["_trackPageview"]];
					(function(d,t){
						var g=d.createElement(t), s=d.getElementsByTagName(t)[0]; g.async=1;
						g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
						s.parentNode.insertBefore(g,s)
					}(document,"script"));
				</script>
				<span style="color:#a5a5a5;">"VitalVas" вообще ни хрена не зарегистрированная торговая марка.<br>
				Однако, это не повод, без указания источника, пиздить контент.</span>
				<span class="coppyr">&copy; VitalVas 1993-2014</span>
			</div>
		</div>
	</body>
</html>