{% extends 'base.html' %}
{% block title_page %}Бложек - VitalVas{% endblock %}
{% block head_page %}
<script type="text/javascript">
	var disqus_shortname = 'vvitalvasblog';
	(function () {
		var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
{% endblock %}
{% block main_content %}
{% for p in posts %}
<article role="article" class="listblog">
	<header>
		<h2 class="entry-title"><a href="{{p.url}}">{{p.title}}</a></h2>
	</header>
	<div class="entry-content">
		{{p.data|safe}}
	</div>
	<footer class="entry-footer">
		<time datetime="{{p.sort_date}}" pubdate data-updated="true">{{p.public_date}}</time>
		&nbsp;-&nbsp;
		<a href="{{p.domain}}{{p.url}}#disqus_thread">Comments</a>
		{% if p.read_more %}
			<a rel="full-article" href="{{p.url}}">Далее →</a>
		{% endif %}
	</footer>
</article>
{% endfor %}
{% endblock %}