{% extends 'base.html' %}
{% block title_page %}{{post.title}}{% endblock %}
{% block head_page %}
<script type="text/javascript">
	var disqus_shortname = 'vvitalvasblog';
	var disqus_url = '{{post.domain}}{{post.url}}';
	var disqus_identifier = '{{post.domain}}{{post.url}}';
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>
<script type="text/javascript">
    (function() {var script = document.createElement('script'); 
		script.type = 'text/javascript';
		script.async = true;
		script.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; 
		s.parentNode.insertBefore(script, s);
    })();
 </script>
{% endblock %}
{% block main_content %}
<article role="article">
	<header>
		<h2 class="entry-title">{{post.title}}</h2>
	</header>
	<div class="entry-content">
		{{post.data_full|safe}}
	</div>
	<footer class="entry-footer">
		<time datetime="{{post.sort_date}}" pubdate data-updated="true">{{post.public_date}}</time>
	</footer>
	<script type="text/javascript">document.write(VK.Share.button({url: "{{ post.domain }}{{ post.url }}"},{type: "button", text: "Share"}));</script>
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ post.domain }}{{ post.url }}" data-counturl="{{ post.domain }}{{ post.url }}" lang="en">Tweet</a>
	<div class="g-plusone" data-size="medium"></div>
	
	
</article>
<section>
	<div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript></div>
</section>
{% endblock %}