{% extends 'base.html' %}
{% block title_page %}ЛинкБлог - VitalVas{% endblock %}
{% block head_page %}
 <meta name="twitter:card" content="summary">
 <meta name="twitter:creator" content="@vitalvas">
 <meta name="twitter:url" content="http://www.vitalvas.com/links/">
 <meta name="twitter:title" content="ЛинкБлог - VitalVas">
 <meta name="twitter:description" content="Страничка из ссылками, которые не попадут в обычный блог">
 <meta name="twitter:image" content="http://www.vitalvas.com/static/images/t_links.jpg">
{% endblock %}
{% block description_page %}линкблог, линки, ссылки, гиперссылка, еще один линкблог{% endblock%}
{% block main_content %}
<ol class="links">
{% for p in links %}
<li>
	{% if p.pre_title %}{{p.pre_title}}{% endif %}
	<a href="{{p.link|safe}}" rel="nofollow" target="_blank">{{p.title|safe}}</a>
	{% if p.post_title %}{{p.post_title}}{% endif %}
</li>
{% endfor %}
</ol>
{% endblock %}