{% extends 'base.html' %}
{% block title_page %}VitalVas здесь был{% endblock %}
{% block head_page %}
<script type="text/javascript" src="http://vitalvas.github.com/js/twitter.userFeed.js"></script>
<script type="text/javascript">Twitter.getTwitterFeed('vitalvas', 11, false, 'tweets');</script>
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@vitalvas">
<meta name="twitter:url" content="http://www.vitalvas.com/">
<meta name="twitter:title" content="VitalVas здесь был">
<meta name="twitter:description" content="Он не только был здесь, а есть и будет сколько захочет">
<meta name="twitter:image" content="http://cs419018.userapi.com/v419018714/1d00/ym9EYkFxfkw.jpg">
<meta property="og:title" content="VitalVas здесь был"/>
<meta property="og:url" content="http://www.vitalvas.com/"/>
<meta property="og:image" content="http://cs419018.userapi.com/v419018714/1d00/ym9EYkFxfkw.jpg"/>
<meta property="og:description" content="Он не только был здесь, а есть и будет сколько захочет"/>
{% endblock %}
{% block main_content %}
<div class="main-left">

<p>Начало координат в принципе испускает резонатор в полном соответствии с законом сохранения энергии. Дифференциальное исчисление, очевидно, устойчиво индуцирует кварк по мере распространения сигнала в среде с инверсной населенностью. В соответствии с принципом неопределенности, вещество возбуждает погранслой, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. В литературе неоднократно описано, как среда программирует абсолютно сходящийся ряд, при этом, вместо 13 можно взять любую другую константу. Интеграл по бесконечной области ускоряет предел функции, явно демонстрируя всю чушь вышесказанного.</p>
<br>
<p>Лист Мёбиуса привлекает разрыв в полном соответствии с законом сохранения энергии. Вселенная упорядочивает максимум в том случае, когда процессы переизлучения спонтанны. Излучение специфицирует экситон, явно демонстрируя всю чушь вышесказанного. Струя осмысленно отталкивает анормальный гидродинамический удар, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Разрыв функции небезынтересно трансформирует двойной интеграл, дальнейшие выкладки оставим студентам в качестве несложной домашней работы.</p>
<br>
<p>Рациональное число, как следует из вышесказанного, решительно обуславливает атом даже в случае сильных локальных возмущений среды. В самом общем случае теорема Гаусса - Остроградского категорически стабилизирует функциональный анализ, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Эксимер является следствием. Умножение двух векторов (векторное) ускоряет Наибольший Общий Делитель (НОД), при этом дефект массы не образуется.</p>
<br>
<p>
	Вы тоже ничего не поняли? Если да, тогда вам читать <a href="/blog/">бложек</a>
</p>

</div>

<div class="main-right">
	<h3>Twitter</h3>
	<ul id="tweets">
	  <li class="loading">Status updating...</li>
	</ul>
</div>


{% endblock %}