{% extends 'base.html' %}
{% block title_page %}VitalVas здесь был{% endblock %}
{% block head_page %}
<script type="text/javascript" src="http://vitalvas.github.com/js/twitter.userFeed.js"></script>
<script type="text/javascript">Twitter.getTwitterFeed('vitalvas', 9, false, 'tweets');</script>
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@vitalvas">
<meta name="twitter:url" content="http://www.vitalvas.com/">
<meta name="twitter:title" content="VitalVas здесь был">
<meta name="twitter:description" content="Он не только был здесь, а есть и будет сколько захочет">
<meta name="twitter:image" content="http://cs419018.userapi.com/v419018714/1d00/ym9EYkFxfkw.jpg">
{% endblock %}
{% block main_content %}
<div class="main-left">
	<h3>Здравствуйте, присаживайтесь.</h3>
	<p>Вы попали на личную территорию человека с никнеймом VitalVas, у которого реальное имя - Виталий Василенко.</p>
	<p>Это информационное пространство принадлежит только автору этого сайтика, который решает что сюда писать, и куда линки оставлять.</p>
	<p>Теперь немного о том, как здесь все устроено.</p>
	<ul>
		<li>Вкладка "<a href="/blog/">Бложек</a>" - это стандартный блог, концепция которого была нагло содрана с движка <a target="_blank" rel="nofollow" href="http://octopress.org">Octopress</a></li>
		<li>Вкладка "<a href="/links/">Линкоблог</a>" - это небольшой эксперимент по распространению интересной информации без публикации в блог</li>
		<li>Вкладка "<a href="/creative/">Творю</a>" - это всего-то творчество автора</li>
	</ul>
	
	
	
	
</div>

<div class="main-right">
	<h3>Твиттер</h3>
	<ul id="tweets">
	  <li class="loading">Status updating...</li>
	</ul>
</div>


{% endblock %}
