{% extends 'base.html' %}
{% block title_page %}Добавить в линкблог{% endblock %}
{% block main_content %}
<form action="" method="post" accept-charset="utf-8">
<table>
	<tr>
		<td>Названия</td>
		<td><input type="text" name="name" value="{{title}}" size="90" id="name"></td>
	</tr>
	<tr>
		<td>Линк</td>
		<td><input type="text" name="url" value="{{url}}" size="90" id="url"></td>
	</tr>
	<tr>
		<td>Публично</td>
		<td><select name="publish" id="publish" size="1">
			<option value="True">Да</option>
			<option value="False">Нет</option>
		</select></td>
	</tr>
</table>
<p><input type="submit" value="Continue &rarr;"></p>
</form>

{% endblock %}